In [7]:
#Imports

import pandas as pd
import numpy as np
import os

# USE FILTER BELOW

In [8]:
df = pd.read_csv(r'C:\Users\Feele\Documents\Sunderland\Data\Lincoln.csv')

In [9]:
#dataframe filter for team and passes

##df = df[df['teamId']==16]

#filter by player(s)

##df = df[df['playerId']==000000]
##df = df[df['type/value'].isin(['13','14','15','16'])]

# filter for a game type (pass,shot etc)

##df = df[df['type/value']==1]

# filter for opponents data use df_opposition


#period/value
##df = df[df['period/value']==2]

#by minutes

##df = df[df['minute']<=45]

# USE FILTER BELOW

In [10]:
#df = df[df['minute']<=45]

In [11]:
df['name'].value_counts(dropna = False)

NaN           677
McFadzean      90
Power          89
McLaughlin     85
McGeady        78
O'Nien         72
Leadbitter     62
Wyke           56
Gooch          54
Sanderson      53
Burge          46
Winchester     31
Maguire        22
Scowen         22
Stewart        19
Name: name, dtype: int64

In [12]:
df = df[df['name']=='McGeady']

In [13]:
df.head()

,id,eventId,minute,second,teamId,x,y,endX,endY,period/value,type/value,type/displayName,outcomeType/value,outcomeType/displayName,playerId,player_num,name
41,2277929849,31,1,58.0,16,45.4,84.8,NaN,NaN,1,45,Challenge,0,Unsuccessful,9003.0,28.0,McGeady
130,2277942405,75,8,21.0,16,59.6,95.6,NaN,NaN,1,3,TakeOn,0,Unsuccessful,9003.0,28.0,McGeady
135,2278025745,439,8,24.0,16,62.4,97.8,NaN,NaN,1,49,BallRecovery,1,Successful,9003.0,28.0,McGeady
136,2277942623,77,8,26.0,16,67.4,95.4,60.9,85.7,1,1,Pass,1,Successful,9003.0,28.0,McGeady
160,2277944929,93,9,33.0,16,87.2,74.8,79.3,77.8,1,1,Pass,1,Successful,9003.0,28.0,McGeady

# USE FILTER BELOW

In [14]:
#different filters to use

#passes - passesfilter
#actions - actionfilter
#shots - shotfilter
#heat - heatfilter
#location - locationfilter

In [15]:
df.to_csv(r'C:\Users\Feele\Documents\Sunderland\Data\actionfilter.csv')

In [ ]:
## game code

Aerial	44
BallRecovery	49
BallTouch	61
BlockedPass	74
Card	17
Challenge	45
Claim	11
Clearance	12
CornerAwarded	6
Dispossessed	50
End	30
FormationChange	40
FormationSet	34
Foul	4
Goal	16
Interception	8
KeeperPickup	52
KeeperSweeper	59
MissedShots	13
OffsideGiven	10000
OffsidePass	2
OffsideProvoked	55
Pass	1
Punch	41
Save	10
SavedShot	15
ShieldBallOpp	56
ShotOnPost	14
Start	32
SubstitutionOff	18
SubstitutionOn	19
Tackle	7
TakeOn	3

# FILTER FOR SHOTS

ShotOnPost - 14
SavedShot - 15
MissedShots - 13
Goal - 16

In [ ]:
#Player Code 20/21

Bailey Wright	86025
Aiden O'Brien	105167
Aiden McGeady	9003
Lynden Gooch	294849
Jack Diamond	382441
Dion Sanderson	384128
Jake Vokins	386857
Grant Leadbitter	12417
Remi Matthews	229492
Jordan Jones	261627
Charlie Wyke	111787
Lee Burge	134119
Callum McFadzean	134185
Josh Scowen	134214
Luke O'Nien	 134373
Max Power	134442
Conor McLaughlin	134636
Daniel Neil 	399427
Carl Winchester	131474
Chris Maguire	13860

In [ ]:
#Player Code 21/22

Bailey Wright(86025)
Aiden O'Brien(105167)
Aiden McGeady(9003)
Lynden Gooch(294849)
Jack Diamond(382441)
Charlie Wyke(111787)
Lee Burge(134119)
Luke O'Nien(134373)
Daniel Neil(399427)
Carl Winchester(131474)