In [1]:
#Imports

import pandas as pd
import numpy as np

# USE FILTER BELOW

In [139]:
df = pd.read_csv(r'C:\Users\Feele\Documents\Data\Harrogate.csv')

In [140]:
df

,Unnamed: 0,id,eventId,minute,second,teamId,x,y,expandedMinute,period/value,...,qualifiers/11/value,isGoal,cardType/value,cardType/displayName,qualifiers/13/value,qualifiers/14/value,qualifiers/15/type/value,qualifiers/15/type/displayName,qualifiers/15/value,number
0,2,2293066861,3,0,0.0,193,50.0,50.0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,2293066875,4,0,1.0,193,45.7,52.7,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,2293066977,4,0,17.0,1974,35.4,0.0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,5,2293066983,5,0,19.0,1974,54.9,10.1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
4,6,2293066993,6,0,20.0,193,28.5,91.4,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1604,1612,2293124701,886,94,3.0,193,85.9,84.2,98,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1605,1613,2293124729,887,94,7.0,193,74.7,81.7,98,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,1614,2293125491,892,94,9.0,193,90.4,36.0,98,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,1615,2293124721,889,94,9.0,1974,9.6,64.0,98,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
1608,1616,2293124731,888,94,9.0,193,93.3,39.4,98,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
df['number'].value_counts(dropna = False)

NaN     799
22.0     94
2.0      89
9.0      87
27.0     84
7.0      83
8.0      66
5.0      59
26.0     57
14.0     56
29.0     55
13.0     49
6.0      31
Name: number, dtype: int64

In [142]:
#different filters to use

#passes   - df = df[df['type/value']==1]                           # passes only, additional filters available. 
#actions  - df = df[df['playerId']==000000]                        # just filter by a player ID/Name/Number
#shots    - df = df[df['type/value'].isin(['13','14','15','16'])]  # shots filter. specific codes for numbers found 
#heat     - df = df[df['playerId']==000000]                        # similar to actions, you can use additional filters to passes etc.
#location - df = df[df['teamId']==16]                              # filter ONLY by team
            
        

#additional filters
#minute   df = df[df['minute']<=45]                                # minute
#minute2  df = df[(df['minute'] >=64 ) & (df['minute'] <81)]       #
#half     df = df[df['period/value']==2]                           #change to 1 or 2
#team     df = df[df['teamId']==16]                                #further team Id's >> https://www.whoscored.com/Teams/16/Show/England-Sunderland







df = df[df['teamId']==1974]
df = df[df['minute']>66]

In [143]:
df.head()

,Unnamed: 0,id,eventId,minute,second,teamId,x,y,expandedMinute,period/value,...,qualifiers/11/value,isGoal,cardType/value,cardType/displayName,qualifiers/13/value,qualifiers/14/value,qualifiers/15/type/value,qualifiers/15/type/displayName,qualifiers/15/value,number
1198,1204,2293113287,653,67,50.0,1974,3.9,59.4,71,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
1199,1205,2293113291,654,67,53.0,1974,57.8,87.4,71,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
1201,1207,2293113565,655,68,27.0,1974,60.6,87.1,72,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
1203,1209,2293113593,656,68,30.0,1974,71.3,54.0,72,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0
1206,1212,2293113623,657,68,33.0,1974,73.4,46.7,72,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0

In [128]:
#different filters to use

#passes - passesfilter
#actions - actionfilter 
#shots - shotfilter
#heat - heatfilter
#location - locationfilter

In [144]:
df.to_csv(r'C:\Users\Feele\Documents\Data\Sunderland\locationfilter.csv')

In [130]:
## game codes

#defensive 

#Aerial       = 44
#BallRecovery = 49
#BallTouch    = 61
#BlockedPass  = 74
#Challenge    = 45
#Clearance    = 12
#Interception = 8
#Foul         = 4
#Tackle       = 7

#goalkeeper

#Claim        = 11
#KeeperPickup = 52
#KeeperSweeper= 59
#Punch        = 41
#Save         = 10

#Possession

#Dispossessed = 50
#BallTouch    = 61
#Pass         = 1
#TakeOn       = 3
#ShieldBallOpp= 56

#shots

#ShotOnPost   = 14
#SavedShot    = 15
#MissedShots  = 13
#Goal         = 16

#Card         = 17
#CornerAwarded= 6
#End          = 30
#FormationChange=40
#FormationSet = 34
#OffsideGiven = 10000
#OffsidePass  = 2
#OffsideProvoked= 55
#Start        = 32
#SubstitutionOff= 18
#SubstitutionOn = 19